/*

* {
    margin: 0;
    padding: 0;
     width: 100vw;
}
*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #555;
   }
/*
.material-symbols-outlined {
  font-size: 300px;
  color: yellow;
}
*/